services:
  postgres_db:
    image: postgres:14.21
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

      POSTGRES_DB: ${DB_DATABASE}

    ports:
      - "${DB_PORT}:5432"

    env_file:
      - .env

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
